NEXT_PUBLIC_SANITY_TOKEN=my_sanity_token
NEXT_PUBLIC_SANITY_PROJECT_ID=my_project_id
RESEND_API_KEY=my_email_api
NEXT_JWT_SECRET=jwt_secret
NEXT_PUBLIC_JWT_SECRET=jwt_secret_for_frontend
SITE_URL=my_site_url
REDIS_PASSWORD=redis_password
REDIS_HOST=redis_host
REDIS_PORT=redis_host_port
NEXT_PUBLIC_STRIPE_SECRET_KEY=my_stripe_secret_key
